<h1>Listing fblikes</h1>

<table>
  <tr>
    <th>User id</th>
    <th>Like id</th>
    <th>Like name</th>
    <th>Like category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fblikes.each do |fblike| %>
  <tr>
    <td><%= fblike.User_Id %></td>
    <td><%= fblike.Like_Id %></td>
    <td><%= fblike.Like_Name %></td>
    <td><%= fblike.Like_Category %></td>
    <td><%= link_to 'Show', fblike %></td>
    <td><%= link_to 'Edit', edit_fblike_path(fblike) %></td>
    <td><%= link_to 'Destroy', fblike, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fblike', new_fblike_path %>
