<p id="notice"><%= notice %></p>

<p>
  <b>User id:</b>
  <%= @fblike.User_Id %>
</p>

<p>
  <b>Like id:</b>
  <%= @fblike.Like_Id %>
</p>

<p>
  <b>Like name:</b>
  <%= @fblike.Like_Name %>
</p>

<p>
  <b>Like category:</b>
  <%= @fblike.Like_Category %>
</p>


<%= link_to 'Edit', edit_fblike_path(@fblike) %> |
<%= link_to 'Back', fblikes_path %>
