<h1>Listing fbclickdata</h1>

<table>
  <tr>
    <th>Like id</th>
    <th>Like category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fbclickdata.each do |fbclickdatum| %>
  <tr>
    <td><%= fbclickdatum.Like_Id %></td>
    <td><%= fbclickdatum.Like_category %></td>
    <td><%= link_to 'Show', fbclickdatum %></td>
    <td><%= link_to 'Edit', edit_fbclickdatum_path(fbclickdatum) %></td>
    <td><%= link_to 'Destroy', fbclickdatum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fbclickdatum', new_fbclickdatum_path %>
