<p id="notice"><%= notice %></p>

<p>
  <b>Like id:</b>
  <%= @fbclickdatum.Like_Id %>
</p>

<p>
  <b>Like category:</b>
  <%= @fbclickdatum.Like_category %>
</p>


<%= link_to 'Edit', edit_fbclickdatum_path(@fbclickdatum) %> |
<%= link_to 'Back', fbclickdata_path %>
